<ion-content class="">
  <form [formGroup]="resetForm" (ngSubmit)="reset()">
    <div class="auth-container">
      <div class="logo">
        <img src="assets/icon/01-Login-Signup/jaypore_logo_retina.png" />
      </div>
      <div class="reset-title">
        Reset Password
      </div>


      <ion-list>
        <ion-item>

          <ion-input #resetPass1 type="password" formControlName="password" placeholder="Enter New Password"
           onfocus="this.placeholder=''"
            onblur="this.placeholder='Enter New Password'"></ion-input>

          <button ion-button type="buttton" item-end clear class="show-btn" 
            (click)="toggle(resetPass1)" [disabled]="!(resetForm.value.password && 
          resetForm.value.password.length > 0)" >
              <span *ngIf="resetPass1.type == 'password' "  [ngStyle]="{opacity : (resetForm.value.password && 
          resetForm.value.password.length > 0) ? 1 : 0.2}"  >SHOW</span>
              <span *ngIf="resetPass1.type == 'text' " >HIDE</span>
        </button>
        </ion-item>

        <ion-item>
          <ion-input #resetPass2 type="password" formControlName="rePassword" placeholder="Re-Enter New Password"
           onfocus="this.placeholder=''"
            onblur="this.placeholder='Re-Enter New Password'"></ion-input>

          <button ion-button type="buttton" item-end clear class="show-btn" (click)="toggle(resetPass2)"
          [disabled]="!(resetForm.value.rePassword && 
          resetForm.value.rePassword.length > 0)" >
          <span *ngIf="resetPass2.type == 'password' " [ngStyle]="{opacity : (resetForm.value.rePassword && 
          resetForm.value.rePassword.length > 0) ? 1 : 0.2}" >SHOW</span>
          <span *ngIf="resetPass2.type == 'text' " >HIDE</span>
        </button>
        </ion-item>
      </ion-list>

      <button ion-button block class="action-btn" type="submit"
      [disabled]="!resetForm.valid">SUBMIT</button>

    </div>
  </form>
</ion-content>