page-reset-password {
       ion-content .scroll-content{
        padding  : 0px !important;
    }
    .auth-container{

        .logo{
             img{
                margin-top: 60px;
             }
        }
        .reset-title{
            @include fontStyles($font-Regular, $jp-color-black, 24px);
            margin-top: 48px;
            text-align : center;
            line-height: 22px;
        }
        ion-list{
            margin-bottom: 24px;
        }
    }
}
