page-favourite-look {
    .header button{
        margin: 0;
        padding: 0;
        @include borderRadius(0px);
        width: 100%;
        height: 52px;
        background: $jp-color-white;
        border-bottom: 1px solid $jp-color-lighter-gray;
        @include boxShadow(none);
        img{
            width: 14px;
            margin: 0 34px 0 16px;
            display: inline-block;
        }
        ion-label{
            @include fontStyles($font-Regular,$jp-color-black,16px);
            @include borderRadius(4px);
            letter-spacing: 0.5px;
            text-align: left;
            margin: 14px 0;;        
        }
    }
    .content {
        padding: 12px;
        background-color: $jp-color-white !important;
        ion-row{
            ion-col{
                // border: 1px solid $jp-color-lighter-gray;
                padding: 4px;
                img{
                    border: 1px solid $jp-color-lighter-gray; 
                    display: block;
                }
            }
        }
    }
}
