<div class="great-offers-full-width" *ngIf="verticalItems">
  <div class="header-wrapper">
    <div class="offer-heading" center text-center>
      <h3 no-margin>{{verticalItems.component_data[0].header}}</h3>
      <p no-margin>{{verticalItems.component_data[0].sub_header}}</p>
    </div>
  </div>
  <div class="offers-items">
    <div *ngFor="let item of verticalItems.component_data; let i = index;">
        <ion-row >
          <ion-col>
            <div class="tiles-item" *ngIf="verticalItems.component_data[i]" (click)="goToAction(verticalItems.component_data[i].type_id,verticalItems.component_data[i].type,verticalItems.component_data[i].myfilter,verticalItems.component_data[0].header)">
              <img [src]="verticalItems.component_data[i].image" [alt]="">
              <div class="item-overlay" *ngIf="verticalItems.component_data[i].description">
                <h4  no-margin [innerHTML]="verticalItems.component_data[i].description"></h4>
              </div>
            </div>
          </ion-col>
          <!-- <ion-col col-6 class="right">
            <div class="tiles-item" *ngIf="tilesItems.component_data[i+1]" (click)="goToAction(tilesItems.component_data[i+1].type_id)">
              <img [src]="tilesItems.component_data[i+1].image" [alt]="tilesItems.component_data[i+1].description">
              <div class="item-overlay">
                <h4 no-margin>{{tilesItems.component_data[i].description}}</h4>
               </div>
            </div>
          </ion-col> -->
      </ion-row>
    </div>
  </div>
</div>
