page-payment {
    ion-header{
        ion-title{
          min-height: 55px !important;
          padding: 0px !important;
          height: 55px !important;
            .toolbar-title{
                height: 55px;
                line-height: 55px;
                @include fontStyles($font-Regular, $jp-color-black, 16px);
            }
        }
        &:after{
            display: none;
        }
        ion-navbar{
            .toolbar-background{
                background: $jp-color-white;
                border-bottom: 1px $jp-color-lighter-gray;
            }
          min-height: 55px !important;
          padding: 0px !important;
          height: 55px !important;
            .back-button {
                background: url(../assets/icon/10-Universal-Icons/Back-Icon.svg) no-repeat center center;
            }
        }
    }

    ion-content{
        background: $jp-color-light-gray !important;        
        .payment-summary{
            padding: 0 16px 16px;
            background: $jp-color-light-gray;
            // border-top: solid 1px $jp-color-lighter-gray;
            
            h4{
                background:$jp-color-light-gray;
                margin: 16px 0 8px;
                @include fontStyles($font-Regular, $jp-color-black, 14px);
                // border-bottom: solid 2px $jp-color-lighter-gray;
            }
            .payment-row{
                border: solid 1px $jp-color-lighter-gray;
                background: $jp-color-white;
                height: 52px;
                @include borderRadius(4px);
                z-index: 9;
                &.paybal{
                    p{
                        padding-top: 3px;
                    }
                }
                ion-col{
                    padding: 0px 16px;
                    line-height: 18px;
                    .payment-row-text{
                        @include fontStyles($font-Regular, $jp-color-black, 14px);
                        margin-left: 16px;
                    }
                    input[type="radio"]{
                        -webkit-appearance: none;
                        appearance: none;
                        width: 20px;
                        height: 20px;
                        border: solid 2px $jp-color-lighter-gray;
                        @include borderRadius(50%);
                        outline: 0;
                        position: relative;
                        top: 15px;
                        background : $jp-color-white !important;
                    }
                    input[type="radio"]:checked {
                        position: relative;
                        border-color: $jp-color-red;
                        top: 15px;
                        &:before{
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            content: '';
                            background-color: $jp-color-red;
                            width: 8px;
                            height: 8px;
                            @include borderRadius(50%);
                        }
                    }

                    &.cod-methord{
                        div{
                            span{
                                @include fontStyles($font-SBold, $jp-color-gray, 12px);
                                &.notAvailable{
                                    @include fontStyles($font-SBold, #eb3840, 12px);
                                    text-transform: none;
                                }
                            }

                        }
                    }

                    &.left{
                        text-align: left;
                        padding-right: 0px;
                        max-width: 13%;
                    }
                    &.mid{
                        max-width: 60.33333%;
                        padding-left: 0px;
                        display: flex;
                        align-items: center;
                        -webkit-align-items: center;
                        -moz-align-items: center;
                    }
                    &.right{
                        text-align: right;
                        padding-right: 0px;
                        line-height: 49px;
                    }
                    button{
                        width:51px;
                        background: none;
                        border: solid 2px $jp-color-lighter-gray;
                        padding: 6px 0px;
                        text-align: center;
                        text-transform: uppercase;
                        @include fontStyles($font-SBold, $jp-color-gray, 14px);
                        @include borderRadius(2px);
                        letter-spacing: 0.5px;
                    }
                }
                &.no-border{
                    border-bottom: none;
                }
            }
            .options{
                border:  1px solid $jp-color-lighter-gray;
                @include borderRadius(4px);
                .payment-row{
                    &:first-child{
                        border: none;
                    }
                    border: none;
                    @include borderRadius(2px);                    
                    border-top: 1px solid $jp-color-lighter-gray;
                }
            }
        }
        .payment-note {
            padding: 4px 16px 16px;
            .lock{
                width: 16px;
                float: left;
            }
            .text{
                width: calc(100% - 116px);
                float: left;
                @include fontStyles($font-Regular, $jp-color-gray, 12px);
                line-height: 16px;
                float: left;
                margin-left: 10px;
            }
            .card{
                width: 90px;
                float: left;
            }
        }
    }
    .payment-footer{
         ion-row{
             ion-col{
                 padding: 0px;
                 button{
                     width: 100%;
                     height: 53px;
                     padding: 0px;
                     line-height: 20px;
                     background: $jp-color-red;
                     @include fontStyles($font-SBold, $jp-color-white, 16px);
                     @include borderRadius(2px);
                     letter-spacing: 0.25px;
                     span{
                         @include fontStyles($font-Regular, $jp-color-white, 12px);
                         display: block;
                         text-transform: uppercase;
                     }
                 }
                button[disabled]{

                }
             }
         }
    }
}
