page-jp-credits {
    .header button{
        margin: 0;
        padding: 0;
        @include borderRadius(0px);
        width: 100%;
        height: 52px;
        background: $jp-color-white;
        border-bottom: 1px solid $jp-color-lighter-gray;
        @include boxShadow(none);
        img{
            width: 14px;
            margin: 0 34px 0 16px;
            display: inline-block;
        }
        ion-label{
            @include fontStyles($font-Regular,$jp-color-black,16px);
            letter-spacing: 0.5px;
            text-align: left;
            margin: 14px 0;;        
        }
    }
    .content {
        padding: 0;
        background-color: $jp-color-light-gray !important;
        .banner{
            background: $jp-color-white;
            height: 136px;
            position: relative;
            border-bottom: 1px solid $jp-color-lighter-gray;
            .banner-inner {
                display: inline-block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50% , -50%);
                text-align: center;
                .label{
                    @include fontStyles($font-Regular,$jp-color-gray,13px);
                    padding-bottom: 4px;
                    line-height: 16px;
                }
                .credit{
                    @include fontStyles($font-SBold,$jp-color-black,30px);
                    line-height: 36px;
                }
            }
        }
        .main{
            margin-bottom: 48px;            
            .title{
                @include fontStyles($font-SBold,$jp-color-gray,14px); 
                line-height: normal;
                margin: 24px 16px 8px !important;
            }
            ion-row{
                padding: 8px 16px;
                .fa-left{
                    width: 38px;
                    height: 38px;
                    text-align: center;
                    border: 1px solid $jp-color-lighter-gray;
                    background: $jp-color-light-gray;
                    border-radius: 50%;
                    line-height: 38px;
                }
                .fa-right{
                    width: calc(100% - 50px);
                    margin-left: 12px;
                    .fq{
                        @include fontStyles($font-Regular,$jp-color-black,18px);
                        line-height: 24px;
                    }
                    .fa{
                        @include fontStyles($font-Regular,$jp-color-gray,14px);
                        line-height: 20px;
                        margin: 4px 0;
                    }
                }
            }
        }
    }
}
