
page-my-account {
    .header button{
        margin: 0;
        padding: 0;
        @include borderRadius(0px);
        width: 100%;
        height: 52px;
        background: $jp-color-white;
        border-bottom: 1px solid $jp-color-lighter-gray;
        @include boxShadow(none);
        img{
            width: 14px;
            margin: 0 34px 0 16px;
            display: inline-block;
        }
        ion-label{
            @include fontStyles($font-Regular,$jp-color-black,16px);
            letter-spacing: 0.5px;
            text-align: left;
            margin: 14px 0;        
        }
    }
    .content {
        padding: 0 16px 24px;
        background-color: $jp-color-light-gray !important;
        .orders{
            .title{
                    @include fontStyles($font-SBold,$jp-color-gray,14px); 
                    line-height: normal;
                    margin: 24px 0 8px !important;
                }
               
                button{
                    &:nth-of-type(1){
                        border: 1px solid $jp-color-lighter-gray !important; 
                    }
                    @include fontStyles($font-Regular,$jp-color-black,14px);
                    border: 1px solid $jp-color-lighter-gray !important;
                    border-top: none !important;
                    height: 44px;
                    @include borderRadius(0);
                    .item-inner{
                        border: none !important;
                        background-image: url(../assets/icon/10-Universal-Icons/chevron-right.svg);
                        background-position: right 14px center;
                        background-repeat: no-repeat;
                        background-size: 14px 14px;
                    }
                    ion-label{
                        @include fontStyles($font-Regular,$jp-color-black,14px);
                        margin: 0;
                    }
                }
        }
 }

 ion-content{
     .scroll-content{
         padding-top: 0px !important;
     }
 }
}




























// page-my-account {
//     .header button{
//         margin: 0;
//         padding: 0;
//         @include borderRadius(0px);
//         width: 100%;
//         height: 52px;
//         background: $jp-color-white;
//         border-bottom: 2px solid $jp-color-lighter-gray;
//         @include boxShadow(none);
//         img{
//             width: 14px;
//             margin: 0 24px 0 16px;
//             display: inline-block;
//         }
//         ion-label{
//             @include fontStyles($font-Regular,$jp-color-black,16px);
//             letter-spacing: 0.5px;
//             text-align: left;
//             margin: 14px 0;;        
//         }
//     }
//     .content {
//         padding: 0 16px 24px;
//         background-color: $jp-color-light-gray !important;
    
//           ion-row{
//         // padding: 0 16px !important;
//         ion-list{
//             width: 100%;
//             margin: 0 !important;
//             padding: 0 !important;
//         }
//         .title{
//             @include fontStyles($font-SBold,$jp-color-gray,14px); 
//             line-height: normal;
//             margin: 24px 0 8px !important;
//         }
//         button{
//             &:first-child{
//                 border: 1px solid $jp-color-lighter-gray !important; 
//             }
//             @include fontStyles($font-Regular,$jp-color-black,14px);
//             border: 1px solid $jp-color-lighter-gray !important;
//             border-top: none !important;
//             @include borderRadius(2px);
//             .item-inner{
//                 border: none !important;
//             }
//         }
//     }
// }
// // button:first-child {
// //     border: 1px solid $jp-color-lighter-gray !important;
// // }
// }
